<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Richard Ma" />
   <link href="http://richardma.info/atom.xml" rel="alternate" title="呓语 Beta 2.0" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">呓语<sup>Beta 2.0</sup></a>
    <a class="extra" href="/">首页</a>
    <a class="extra" href="https://500px.com/richard_ma">镜头后</a>
    <a class="extra" href="http://www.douguo.com/u/u21994402828750.html">灶台前</a>
    <a class="extra" href="/donors.html">捐赠者名单</a>
    <a class="extra" href="/fun_sites.html">有趣的小站</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Richard Ma (richard_ma)<br />
        richard.ma.19850509@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/richard-ma/">github.com/richard-ma</a><br />
        <a href="http://gitcafe.com/richard-ma/">gitcafe.com/richard-ma</a><br />
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/richard-ma"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

</body>
</html>
